/* #ifdef APP-NVUE */
// nvue页面专用样式
// nvue的css仅支持flex布局，是webview的css语法的子集。这是因为操作系统原生排版不支持非flex之外的web布局。当然flex足以排布出各种页面，只是写法需要适应。
// class 进行绑定时只支持数组语法。
// 不支持媒体查询
// 不能在 style 中引入字体文件
// 不能使用百分比布局，如width：100%
// 不支持在css里写背景图background-image，但可以使用image组件和层级来实现类似web中的背景效果。因为原生开发本身也没有web这种背景图概念
// 使用image标签，支持使用base64，不支持svg格式图片
// nvue 的各组件在安卓端默认是透明的，如果不设置background-color，可能会导致出现重影的问题
// 文字内容，必须只能在text组件下，text组件不能换行写内容，否则会出现无法去除的周边空白
// 只有text标签可以设置字体大小，字体颜色


// 水平垂直居中
.wrapper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #cccccc;
	justify-content: center;
	align-items: center;
	.box{
		width: 200px;
		height: 200px;
		background-color: #fc0000;
	}
}

/* #endif */